<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <title>51Dorm</title>
    <link href="/favicon.ico" rel="Shortcut  Icon" type="images/x-icon">

    <!--common style-->
    <link type="text/css" rel="stylesheet" href="./dist/css/materialize.css"  media="screen,projection"/>
    <link rel="stylesheet" href="./dist/css/animate.min.css">
    <link rel="stylesheet" href="./dist/css/common.css">
</head>

<body>

<!--nav-->
<nav>
    <div class="nav-wrap">
        <a href="#" class="nav-logo">
            <img src="./dist/img/logo.png" alt="51dorm">
        </a>
        <ul class="nav-link">
            <li class="nav-active"><a href="/">首页</a></li>
            <li><a href="/view/apartments.html">宿舍</a></li>
            <li><a href="/view/apartments.html">房源</a></li>
            <li><a href="/view/help-center.html">帮助</a></li>
        </ul>
        <div class="waves-effect waves-light nav-btn modal-trigger sign" href="#sign-modal">登录</div>
        <div class="waves-effect waves-light nav-btn modal-trigger reg" href="#sign-modal">注册</div>

        <!--mobile-->
        <div id="toggle">
            <input type="checkbox">
            <span></span>
        </div>
    </div>
</nav>


<!--private style-->
<!--<link rel="stylesheet" href="./dist/css/index.css">-->
<!--private style end-->
<!--content-->
<div class="content">

</div>
<!--footer-->
<footer>
    <div class="container link">
        <a>关于我们</a>
        <a>加入我们</a>
        <a>联系我们</a>
        <a>服务声明</a>
    </div>
    <ul class="social-box">
        <li>
            <a>
                <i class="sprite-com icon-wx"></i>
            </a>
        </li>
        <li>
            <a>
                <i class="sprite-com icon-weibo"></i>
            </a>
        </li>
        <li>
            <a>
                <i class="sprite-com icon-qq"></i>
            </a>
        </li>
    </ul>
    <p class="copy-txt">
        ©2016  All rights reserved | 京ICP备15000930号-3
    </p>
</footer>


<script type="text/javascript" src="./dist/js/jquery.min.js"></script>
<script type="text/javascript" src="./dist/js/materialize.min.js"></script>
<script type="text/javascript" src="./dist/js/jquery.lazyload.js"></script>
<script type="text/javascript" src="./dist/js/wow.min.js"></script>
<script type="text/javascript" src="./dist/js/common.js"></script>
<script type="text/javascript" src="./dist/js/sign.js"></script>

<!--private js-->

</body>
</html>
        